Flask==3.0.2
Flask-JWT-Extended==4.6.0
flask-cors==4.0.0
SQLAlchemy==2.0.28
alembic==1.13.1
Flask-Migrate==4.0.6
python-dotenv==1.0.1
psycopg2==2.9.9
bcrypt==4.1.2
pandas
mongoengine
celery
flask-socketio
