jinja2==3.1.4
werkzeug==3.0.3
pydantic==2.9.2
python-dotenv
psycopg2-binary
bcrypt
mongoengine
celery
boto3
catboost
contourpy
cycler
fonttools
graphviz
joblib
kiwisolver
lightgbm
matplotlib
numpy==1.26.4
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
PyYAML
pytest
pytest-mock
scikit-learn
optuna
scipy
seaborn
six
tenacity
threadpoolctl
tzdata
xgboost
imbalanced-learn
category_encoders
certifi
gevent
gevent-websocket
--find-links https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.16.1+cu121
torchaudio==2.5.1+cu121
openai
reportlab
fastapi-jwt-auth==0.5.0  # Adjust based on compatibility
fastapi_socketio
fastapi==0.115.0  # Ensure compatibility with pydantic 1.10.12
python-jose
uvicorn
transformers
